
<%- include('include/_header') %>

<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">Update prouct</h2>
            <span class="text-light">Update your product</span>
        </div>

        <form method="POST" id="update_product">
            <div class="new_product">
                <div class="form-group">
                    <label for="name" class="text-light">Product Name</label>
                    <input type="hidden" name="id" value="<%= user._id%>">
                    <input type="text" name="name" value="<%= user.name%>" placeholder="Product">
                </div>
        
                <div class="form-group">
                    <label for="categoryid" class="text-light">Category Id</label>
                    <input type="text" name="categoryid" value="<%= user.categoryid%>" placeholder="C1">
                </div>

                <div class="form-group">
                    <label for="categoryname" class="text-light">Category Name</label>
                    <input type="text" name="categoryname" value="<%= user.categoryname%>" placeholder="Category">
                </div>
        
                <!-- <div class="form-group">
                    <label for="gender" class="text-light">Gender</label>
                    <div class="radio inline">
                        <input type="radio" id="radio-2" name="gender" value="Male"<%= user.gender=='Male'?'checked':'' %>>
                        <label for="radio-2" class="radio-label">Male</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-3" name="gender" value="Female"<%= user.gender=='Female'?'checked': '' %>>
                        <label for="radio-3" class="radio-label">Female</label>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="status" class="text-light">Status</label>
                    <div class="radio inline">
                        <input type="radio" id="radio-4" name="status" value="Active"<%= user.status=='Active'?'checked': '' %>>
                        <label for="radio-4" class="radio-label">Active</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-5" name="status" value="Inactive"<%= user.status=='Inactive'?'checked': '' %>>
                        <label for="radio-5" class="radio-label">Inactive</label>
                    </div>
                </div> -->
        
                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
        
            </div>
        </form>

    </div>
</main>

<%- include('include/_footer') %>